#start{
    position: relative;
    left: 200px;
    top: 200px;
}
#stop{
    display: block;
    position: relative;
    left: 200px;
    top: 210px;
}

td{
    width:10px;
    height:10px;
    border:1px solid block;
    background: red;
}

