* {
  padding: 0px;
  margin: 0px;
}
.box {
  display: flex;
  width: 100%;
}
.box .box1 {
  border: 1px solid red;
  flex: 3;
  text-align: center;
}

.box .box2 {
  border: 1px solid red;
  flex: 10;
}
.box2 .tabbar {
  display: flex;
  /* background: red; */
}
.box2 .tabbar .tabbar_item {
  width: 170px;
  height: 70px;
  border: 1px solid red;
}
.box2 .search {
  width: 100%;
  display: flex;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 20px;
}
.box2 .search .search_vip {
  background: rgb(225, 223, 166);
  flex: 14;
  height: 20px;
}
.box2 .search #div1 {
  background: rgb(52, 51, 51);
}
.box2 .search #div2 {
  background: rgb(52, 51, 51);
}
.box2 .search #div3 {
  background: red;
}
.box2 .search #div4 {
  background: red;
}
.box2 #div5 {
  position: absolute;
  left: 72%;
  width: 78px;
  background: white;
}
.box2 #div6 {
  position: absolute;
  left: 80%;
  width: 78px;
  background: white;
}
.box2 .search .search_div {
  height: 100%;
  border: 1px solid red;
  flex: 2;
  height: 20px;
}
.box2 .name .flex {
  display: flex;
}
.box2 .name .flex #item {
  background: red;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.box2 .name .flex .flex_item {
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  height: 20px;
  color: black;
  flex: 1;
  border: 1px solid black;
  background: yellow;
}
